{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Reservation index</h1>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Prix total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                    <td><b>{{ reservation.prixTotal }}</b> €</td>
                    <td>
                        <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Vous n'avez pas de réservation</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
